@use "@angular/material" as mat;

@import "@angular/material/theming";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat.get-color-from-palette(
    $mat-dark-theme-background,
    background
  );
}

@include mat.core();
