<mat-card>
  <mat-card-content>
    <mat-card-header>
      <mat-card-title class="form__title">Report Form</mat-card-title>
    </mat-card-header>
    <form class="form" [formGroup]="form">
      <mat-form-field class="form__field">
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="form__field">
        <input matInput placeholder="Surname" formControlName="surname" />
      </mat-form-field>
      <ngx-file-drop dropZoneLabel="Drop files here" class="form__file-drop">
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          Drop files here, or select them using button

          <button
            type="button"
            mat-raised-button
            color="primary"
            class="form__file-drop__button"
            (click)="openFileSelector()"
          >
            Browse Files
          </button>
        </ng-template>
      </ngx-file-drop>
      <div v-if="true" class="form__file-drop__file-box">
        <mat-icon class="form__file-drop__icon">insert_drive_file</mat-icon>
        <span class="form__file-drop__file-name-label">File name: </span>
        <span class="form__file-drop__file-name">file name.png</span>
      </div>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        onsubmit="submit()"
      >
        Submit
      </button>
    </form>
  </mat-card-content>
</mat-card>
