@import "@angular/material/theming";

.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  margin: {
    top: 10px;
    right: 10px;
    bottom: 0.2rem;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

$formTitleColor: mat-color($mat-dark-theme-foreground, text);

.form__title {
  color: $formTitleColor;
  margin-bottom: 10px;
}

.form__file-drop__file-box {
  padding: 10px;
  margin-bottom: 10px;
}

.form__file-drop__icon {
  color: $formTitleColor;
}

.form__file-drop__file-name-label {
  color: darken($formTitleColor, 20%);
  margin-left: 10px;
  font-weight: 500;
}

.form__file-drop__file-name {
  color: $formTitleColor;
  margin-left: 10px;
  font-weight: 500;
}

.form__file-drop {
  margin: {
    bottom: 20px;
  }
}

.form__file-drop__button {
  margin-left: 20px;
}
