<mat-card>
  <mat-card-content>
    <mat-card-header>
      <mat-card-title class="form__title">Report Form</mat-card-title>
    </mat-card-header>
    <form class="form" [formGroup]="form">
      <mat-form-field class="form__field">
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="form__field">
        <input matInput placeholder="Surname" formControlName="surname" />
      </mat-form-field>
      <mat-form-field class="form__field">
        <input matInput placeholder="File" formControlName="file" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
